@mixin link {
  color: white;
  text-decoration: none;
}
@mixin button-style {
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  min-width: 160px;
}
@mixin infop {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
@mixin infoh {
  color: white;
  font-size: 40px;
}
.burger,
.close-nav {
  display: none;
  border: none;
  background: transparent;
  color: white;
  font-size: 32px;
  cursor: pointer;
}
#more {
  display: none;
}
.flex {
  display: flex;
}
.svg {
  fill: white;
  height: 32px;
  width: 32px;
}
.nav-list {
  display: none;
}
.transparent {
  background-color: transparent;
  border: none;
}
header {
  background-color: #202029;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  .left {
    gap: 50px;
    align-items: center;
    .name {
      .mobile {
        display: none;
      }
      .desktop {
        display: flex;
      }
    }
    .links {
      display: flex;
      gap: 30px;
      .menu-header {
        display: none;
      }
      .menu-footer {
        display: none;
      }
      .menu-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
      }
      a {
        @include link();
      }
    }
  }
  .right {
    gap: 20px;
    .sign {
      @include button-style();
      background-color: #38383a;

      span {
        color: white;
      }
    }
    .play {
      @include button-style();
      background-color: rgb(230, 177, 81);
    }
  }
}
main {
  height: 100%;
  background-color: #0d0d22;
  .gameplay-intro {
    height: 100%;
    .transparent-text {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 40%;
      height: 100%;
      gap: 20px;
      margin-bottom: 0px;
      .pitch {
        text-align: center;
        min-height: 50px;
        min-width: 290px;
        span {
          color: white;
          font-size: 20px;
          line-height: 1.2;
        }
      }
      .buttons {
        justify-content: center;
        align-items: center;
        gap: 10px;
        .learn {
          @include button-style();
          background-color: rgb(220, 126, 63);
          padding: 15px;
        }
        .trailer {
          @include button-style();
          background-color: rgba($color: #ffffff, $alpha: 0.8);
          padding: 15px;
        }
      }
    }
    .gameplay {
      width: 60%;
      height: 100%;
      video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .News {
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    .news-headline {
      min-height: 60px;
      align-items: center;
      P {
        line-height: 1.4;
        color: white;
        font-size: 30px;
      }
    }
    .news-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 20px;
      grid-template-areas: "news news2 news3";
      .news {
        grid-area: news;
      }
      .news2 {
        grid-area: news2;
      }
      .news3 {
        grid-area: news3;
      }
      .news-pic {
        height: 70%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .under-pic {
        background-color: #232349;
        height: 30%;
        padding: 10px;

        P {
          color: white;
          line-height: 1.4;
        }
        h4 {
          color: white;
          line-height: 1;
        }
      }
    }
  }
  .info {
    flex-direction: column;
    padding: 80px;
    .info1,
    .info2,
    .info3 {
      margin: 60px 0;
      align-items: center;
      gap: 25px;
      .info-text {
        flex-direction: column;
        gap: 30px;
        width: 40%;
        p {
          @include infop();
          text-align: start;
        }
        h2 {
          @include infoh();
        }
        .learn {
          @include button-style();
          width: 160px;
          background-color: rgb(220, 126, 63);
          padding: 15px;
        }
        .sign {
          @include button-style();
          width: 160px;
          background-color: rgb(220, 126, 63);
          padding: 15px;
        }
      }
      .info-pic {
        width: 60%;
      }
    }
    .info2 {
      flex-direction: row-reverse;
    }
    .info-headline {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 9px;
      h1 {
        @include infoh();
      }
      p {
        @include infop();
        max-width: 1050px;
      }
    }
  }
}
footer {
  justify-content: space-between;
  flex-direction: column;
  background: #1b1b20;
  color: white;
  padding: 40px;
  gap: 70px;
  .footer-head {
    .footer-top {
      justify-content: space-between;
      .socials {
        gap: 20px;
        a {
          span {
            svg {
              fill: white;
              height: 24px;
              width: 24px;
            }
          }
        }
      }
    }
  }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-main,
    .footer-support {
      flex-direction: column;
      gap: 15px;
      justify-content: flex-start;
      a {
        text-decoration: none;
        color: gray;
      }
      h3 {
        color: white;
        font-size: 30px;
      }
    }
  }
  .footer-platforms {
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    .platform-icons {
      gap: 10px;
      a {
        display: block;
        height: 24px;
        width: 24px;
        img {
          display: block;
          fill: white;
        }
        svg {
          height: 24px;
          width: 24px;
          fill: white;
        }
        #xseries,
        #ps5,
        #ps4,
        #xbox {
          height: 56px;
          width: 24px;
          img {
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .footer-bottom {
    justify-content: space-between;
    .legal {
      flex-direction: column;
      gap: 20px;
      flex-wrap: wrap;
      p {
        max-width: 700px;
        width: auto;
        color: gray;
      }
      .legal-links {
        flex-wrap: wrap;
        a {
          @include link();
        }
        gap: 15px;
      }
    }
    .back-top {
      background-color: #38383a;
      border: none;
      border-radius: 15px;
      padding: 15px;
      span {
        color: white;
        a {
          @include link();
          color: gray;
          margin: 10px;
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  header {
    .left {
      gap: 10px;
      .name {
        .desktop {
          display: none;
        }
        .mobile {
          display: flex;
        }
      }
    }
  }
}
@media (max-width: 1277px) {
  main {
    .News {
      .news-group {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "news news2";
        .news3 {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 1180px) {
  header {
    position: relative;

    .right {
      display: none;
    }

    .burger {
      display: block;
      font-size: 32px;
      color: white;
    }

    .left {
      .name {
        .mobile {
          display: none;
        }

        .desktop {
          display: flex;
        }
      }

      .links {
        display: none;
      }

      .links.active {
        display: flex;
        flex-direction: column;

        position: fixed;
        inset: 0;

        background: #101014;
        z-index: 1;

        .menu-header {
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          padding: 20px 30px;
          gap: 30px;
          border-bottom: 1px solid gray;
          .burger-up {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            img {
              max-height: 36px;
              height: auto;
            }
          }
          .burger-down {
            min-width: 100%;
            justify-content: space-between;
            .burger-right,
            .burger-left {
              align-items: center;
              gap: 10px;
              span {
                height: 24px;
                width: 24px;
                svg {
                  fill: white;
                }
              }
            }
            .sign {
              @include button-style();
              background-color: #38383a;

              span {
                color: white;
              }
            }
          }
          .close-nav {
            position: relative;
            z-index: 5;
            display: block;
            font-size: 32px;
            color: white;
            background: transparent;
            border: none;
            cursor: pointer;
          }
        }

        .menu-links {
          display: flex;
          flex-direction: column;
          gap: 70px;
          padding: 50px 30px;

          a {
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-weight: 600;
          }
        }

        .menu-footer {
          margin-top: auto;
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 30px;

          .play {
            @include button-style();
            background-color: rgb(230, 177, 81);
          }
        }
      }
    }
  }
}
@media (max-width: 1023px) {
  main {
    .gameplay-intro {
      flex-direction: column-reverse;
      align-items: center;
      .gameplay {
        width: 100%;
      }
      .transparent-text {
        width: 60%;
      }
    }
    .news {
      padding: 20px;
    }
    .info {
      padding: 20px;
      .info1,
      .info2,
      .info3 {
        flex-direction: column-reverse;
        .info-text {
          width: 100%;
        }
        .info-pic {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  footer {
    padding: 20px;
  }

  .footer-top,
  .footer-platforms,
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer-bottom {
    justify-content: space-between;
    .legal {
    }
  }
}
@media (max-width: 837px) {
  main {
    .News {
      .news-group {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "news";
        .news3 {
          display: none;
        }
        .news2 {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 678px) {
  #info-headline {
    text-align: center;
  }
}
@media (max-width: 359px) {
  .buttons {
    flex-direction: column;
  }
}
